.menu {
  background: #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 3rem;
  left: 0;
  position: absolute;
  top: 141px;
  width: 40rem;
  z-index: 100;
}

.menu nav {
  display: flex;
  flex-direction: column;
}

/* 600px */
@media (max-width: 37.5em) {
  .menu {
    border-right: none;
    width: calc(100% - 6rem);
  }
}
