.tabGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #ccc;
  width: 100%;
  height: 100%;
}

.tab {
  border-right: 2px solid #ccc;
  height: 100%;
  width: 7rem;
}

.tab:first-child {
  border-left: 2px solid #ccc;
}
