.form-control {
  margin: 1rem 0;
}

.form-control label {
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  background: #f8f8f8;
  border: 1px solid #bbb;
  font: inherit;
  padding: 0.15rem 0.25rem;
  width: 100%;
}

.form-control input:focus,
.form-control textarea:focus {
  background: #ebebeb;
  border-color: var(--main);
  outline: none;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  background: #ffd1d1;
  border-color: red;
}
