.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #000;
  left: 10%;
  position: fixed;
  top: calc(50% - 12.5rem);
  width: 80%;
  z-index: 100;
  gap: 2rem;
  font-size: 1.6rem;
  height: 25rem;
  box-sizing: border-box;
  padding: 0 1rem;
  text-align: center;
}

@media (min-width: 28em) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  opacity: 0;
  transform: translateY(-10rem);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-10rem);
  transition: all 200ms;
}
