.home {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.landing {
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
  url('../../images/homepage/landing-bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: calc(95vh - 14rem);
  justify-content: center;
  width: 100%;
}

.landingContent {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: center;
}

.returnPolicy {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 22rem;
  justify-content: center;
  padding: 9rem 0;
  text-align: center;
  width: 100%;
}

.returnPolicy p {
  font-size: 1.8rem;
  margin: 0 1.5rem 2rem 1.5rem;
  max-width: 100rem;
}

.returnPolicy a {
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.featured {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/homepage/featured-bg.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
  width: 100%;
}

.featuredButton {
  background-color: white;
  cursor: pointer;
  padding: 0.8rem;
  text-align: center;
}

.featuredButton:hover {
  color: var(--main);
}

.featuredButton p {
  background-color: white;
  border: 1px solid #000;
  font-size: 2rem;
  padding: 1.2rem;
}

.popular {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 9rem 0 20rem 0;
  width: 100%;
}

.products {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  max-width: 120rem;
  width: 100%;
}

/* 646px */
@media (max-width: 40.375em) {
  .products {
    max-width: 40rem;
  }
}

/* 400px */
@media (max-width: 25em) {
  .returnPolicy p {
    font-size: 1.5rem;
    margin: 0 1rem 2rem 1rem;
  }

  .featuredButton p {
    font-size: 1.6rem;
  }
}
