.authForm-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.authForm-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.authForm-exit {
  transform: translateY(0);
  opacity: 1;
}

.authForm-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
