:root {
  /* COLORS */
  --main: #14abb1;
  
  /* HORIZONTAL GAP */
  --gap-lg: 4rem;
  --gap-md: 3.2rem;
  --gap-sm: 2.4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html { 
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto','Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
