.wideButton {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.42;
  outline: none;
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: center;
  white-space: nowrap;
  width: 100%;
}

.wideButton:hover {
  background-color: var(--main);
}

.wideButton:disabled {
  opacity: 0.6;
  pointer-events: none;
}
