.product {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  width: 100%;
}

img {
  width: 100%;
}

h6 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
