.navLink {
  border-bottom: 0.8px solid rgba(0,0,0,0.35);
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 1px;
  list-style: none;
  padding: 1.5rem 0;
  text-transform: uppercase;
  width: 100%;
}

.navLink:hover {
  color: var(--main);
}
